/* font-family: 'Montserrat', sans-serif; */
/* font-family: 'League Spartan', sans-serif; */
*
{
    margin: 0;
    padding: 0;
}
a
{
    text-decoration: none;
    color: inherit;
}

body
{
    background-color: black;
    overflow-x: hidden !important;
    position: relative;
}
body::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	background-color: black;
}

body::-webkit-scrollbar
{
	width: 8px;
	background-color: black;
}

body::-webkit-scrollbar-thumb
{
	/* border-radius: 20px; */
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
    box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: #ff9400;
}

.dark-label
{
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 48
}

/*--------------------------------------------------------------- Navbar -------------------------------------------------------------*/
#nav-bar
{
    position: sticky;
    top: 0px;
    display: flex;
    flex-direction: row;
    font-family: 'Montserrat', sans-serif;
    height: 70px;
    width: 100vw;
    color:white;
    justify-content: space-between;
    z-index: 1000;
    background-color: black;
}
.nav-sec
{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}
#nav-name
{
    width: 300px;
}
#nav-name h2
{
    text-align: center;
}

.dark-toggle
{
    opacity: 0;
    position: absolute;
}
  
.dark-label
{
    width: 45px;
    height: 16px;
    color: #ffcc00;
    border: 2px solid #ffcc00 ;
    background-color:#111;
    display: flex;
    border-radius:50px;
    align-items: center;
    justify-content: space-between;
    padding: 5px;
    position: relative;
    /* transform: scale(1.5); */
}

.dark-ball
{
    width: 22px;
    height: 22px;
    background-color: #ffcc00;
    position: absolute;
    top: 2px;
    left: 3px;
    border-radius: 50%;
    transition: transform 0.2s linear;
}

.dark-icon
{
    font-size: 20px;
    color: #ffcc00;
}

/*  target the elemenent after the label*/
.dark-toggle:checked + .dark-label .dark-ball
{
    transform: translateX(26px);
}

#nav-links
{
    font-size: 20px;
    width: 60%;
}
#nav-links>div
{
    width: 70%;
}

.contact-btn
{
    cursor: pointer;
    border: none;
    font: inherit;
    font-size: 15px;
    color: white;
    border-radius: 20px;
    padding: 5px;
    background: rgb(255,218,7);
    background: -moz-linear-gradient(180deg, rgba(255,218,7,1) 40%, rgba(255,175,0,1) 100%);
    background: -webkit-linear-gradient(180deg, rgba(255,218,7,1) 40%, rgba(255,175,0,1) 100%);
    background: linear-gradient(180deg, rgba(255,218,7,1) 40%, rgba(255,175,0,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ffda07",endColorstr="#ffaf00",GradientType=1);

    box-shadow: 0px 15px 35px 0px rgb(231 188 5 / 58%);
    -webkit-box-shadow: 0px 15px 35px 0px rgb(231 188 5 / 58%);
    -moz-box-shadow: 0px 15px 35px 0px rgb(231 188 5 / 58%);
}

.contact-btn:hover
{
    background: white;
    color: #ffcc00;
}

#nav-links .contact-btn
{
    width: 100px;
    height: 40px;
}

/*------------------------------------------------------------ Landing Page ----------------------------------------------------------*/
#landing
{
    font-family: 'League Spartan', sans-serif;
    color: white;
    width: 100vw;
    height: -moz-calc(100vh - (70px));
    height: -webkit-calc(100vh - (70px));
    height: calc(100vh - (70px));
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
#landing>div
{
    display: flex;
    align-items: flex-start;
}
.landing-sec
{
    flex: 2;
    display: flex;
}
.landing-sec:nth-child(1)
{
    flex-direction: column;
    justify-content: space-around;
    padding-left: 50px;
    height: 100%;
}
.landing-sec:nth-child(2)
{
    flex-direction: row;
    justify-content: center;
}
.landing-info
{
    display: flex;
    flex-direction: column;
    justify-content:space-between;
    height: 350px;
}
.landing-head
{   
    /* line-height: 6rem; */
    font-size: 4rem;
}
.landing-head:nth-of-type(2n)
{
    color: #c58403;
}
.landing-desc
{
    color: #413c30;
    font-size: 18px;
}
.landing-sec .contact-btn
{
    width: 140px;
    height: 40px;
    font-size: 18px;
}
.landing-icons
{
    /* position: absolute; */
    margin-left: 50px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    color:#c58403;
    width: 340px;
    font-size: 3.5rem;
}

.landing-img
{
    width: 500px;
    height: 500px;
    border-radius: 50%;
    overflow: hidden;
    object-fit: cover;
    position: relative;
    background-color: black;
}

.landing-img img
{
    position: absolute;
    max-width: 100%;
    height: auto;
    bottom: -35px;
}

/*---------------------------------------------------------- Services Section --------------------------------------------------------*/
#services
{
    color: white;
    width: 100vw;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
#filler
{
    height: 325px;
    width: 100vw;
}
.ser-cont
{
    height: -moz-calc(100vh - (70px));
    height: -webkit-calc(100vh - (70px));
    height: calc(100vh - (70px));
    width: 100vw;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
#ser-text
{
    font-family: 'League Spartan', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 500px;
    height: 350px;
    margin-left: 50px;
}
#ser-text .contact-btn
{
    width: 150px;
    height: 40px;
    font-size: 18px;
}
.services-box
{
    font-family: 'Montserrat', sans-serif;
    position: absolute;
    width: 270px;
    height: 410px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    transition: all 350ms linear;
}
.box-sec
{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 350px;
    background-color: #dddddd;
    border-radius: 10px;
}
.box-btn
{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 140px;
    height: 50px;
    border-radius: 10px;
    color: #2586dc;
    background-color: #dddddd;
    font-weight: 600;
    font-size: 18px;
    cursor: pointer;
}
.services-box img
{
    height: 170px;
}
.line
{
    width: 180px;
    background-color: black;
    height: 1.5px;
}
.box-txt
{
    display: flex;
    align-items: center;
    height: 160px;
    width: 80%;
    font-size: 20px;
    text-align: center;
    color: black;
}
#box-ux
{
    left: 75%;
}
#box-ui
{
    left: 69%;
    top: 600px;
}
#box-tech
{
    left: 35%;
    top: 400px;
}
.service-exp
{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 350px;
    font-family: 'League Spartan', sans-serif;
}
.exp-sec
{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    height: 200px;
    width: 130px;
    margin-left: 30px;
    margin-right: 30px;
}
.exp-circle
{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #c58403;
    font-size: 35px;
    height: 100px;
    width: 100px;
    position: relative;
    border-radius: 50%;
    background-color: white;
}
.exp-txt
{
    font-size: 20px;
}
.exp-txt:nth-of-type(2n)
{
    color: #c58403;
}
.anim-1
{
    transform: translateX(-80px);
    transition: all 200ms linear;
}
.anim-2
{
    transform: translateX(80px);
    transition: all 200ms linear;
}

/*---------------------------------------------------------- Companies Section --------------------------------------------------------*/
#brands
{
    font-family: 'League Spartan', sans-serif;
    color: white;
    width: 100vw;
    height: -moz-calc(100vh - (70px));
    height: -webkit-calc(100vh - (70px));
    height: calc(100vh - (70px));
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
#brand-sec
{
    font-family: 'League Spartan', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 500px;
    height: 350px;
    margin-left: 50px;
}
#brand-sec .contact-btn
{
    width: 160px;
    height: 40px;
    font-size: 18px;
}
#brand-box
{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: calc(100vw - (550px));
}
.brand-circle-white
{
    position: relative;
    border-radius: 50%;
    background-color: white;
    border: 5px solid lightslategray;
}
#main-c
{
    height: 450px;
    width: 450px;
}
.brand-circle-small
{
    position: absolute;
    height: 120px;
    width: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 4rem;
    color: black;
}
.brand-circle-small:nth-child(1)
{
    left: 160px;
    top: -65px;
}
.brand-circle-small:nth-child(2)
{
    right:-65px;
    top: 160px;
}
.brand-circle-small:nth-child(3)
{
    left: 160px;
    bottom: -65px;
}
.brand-circle-small:nth-child(4)
{
    left:-65px;
    top: 160px;
}
.brand-circle-small:nth-child(5)
{
    left: 160px;
    top: 160px;
}
.brand-circle-mid
{
    position: absolute;
    border-radius: 50%;
    height: 300px;
    width: 300px;
    z-index: -1;
}
.brand-circle-mid:nth-child(6)
{
    background-color: #2586dc;
    right: -90px;
    top: -30px;
}
.brand-circle-mid:nth-child(7)
{
    background-color: #ffcc00;
    bottom: -30px;
    right: -90px;   
}

/*---------------------------------------------------------- Portfolio Section --------------------------------------------------------*/
#portfolio
{
    font-family: 'Montserrat', sans-serif;
    color: white;
    width: 100vw;
    height: -moz-calc(100vh - (70px));
    height: -webkit-calc(100vh - (70px));
    height: calc(100vh - (70px));
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}
#portfolio>p
{
    font-weight: bold;
    font-size: 50px;
}
#portfolio>p:nth-child(2)
{
    color: #c58403;
}
#portfolio-sec
{
    width: 100%;
    height: 60%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}
.p-cards
{
    height: 380px;
    width: 300px;
    border-radius: 20px;
    background-color: #1d1d1e;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    text-align: center;
    padding: 10px;
    transition: transform 400ms ease-in-out;
    -webkit-box-shadow: -2px -2px 6px 0px rgb(136 134 134 / 60%);
    -moz-box-shadow: -2px -2px 6px 0px rgb(136 134 134 / 60%);
    box-shadow: -2px -2px 6px 0px rgb(136 134 134 / 60%);
}
.p-cards:hover
{
    transform: translateY(-15px);
}
.p-cards p
{
    font-size: 15px;
    font-weight: 300;
    width: 220px;
}
.p-button
{
    cursor: pointer;
    background-color: inherit;
    width: 130px;
    height: 50px;
    border-radius: 30px;
    color: white;
    border:none;
    font-family: inherit;
    font-size: 20px;
    transition: all 500ms ease;
    -webkit-box-shadow: -3px 3px 4px -1px rgb(6 191 151);
    -moz-box-shadow: -3px 3px 4px -1px rgb(6 191 151);
    box-shadow: -3px 3px 4px -1px rgb(6 191 151);
}
.p-button:hover
{
    -webkit-box-shadow: 3px -3px 4px -1px rgb(6 191 151);
    -moz-box-shadow: 3px -3px 4px -1px rgb(6 191 151);
    box-shadow: 3px -3px 4px -1px rgb(6 191 151);
}

/*---------------------------------------------------------- Work-Ex Section --------------------------------------------------------*/
#work-ex
{
    font-family: 'League Spartan', sans-serif;
    color: white;
    width: 100vw;
    height: -moz-calc(100vh - (70px));
    height: -webkit-calc(100vh - (70px));
    height: calc(100vh - (70px));
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
#work-ex>h2
{
    font-size: 48px;
}
#work-ex>h2 span
{
    color: #c58403;
}
#work-sec
{
    margin-top: 30px;
    height: 300px;
    width: 600px;
    border-radius: 10px;
    border: 3px solid #737373;
    background-color: #202020;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
}
#work-img
{
    width: 110px;
    height: 110px;
}
#work-img img
{
    bottom:-18px;
    left: -7px;
    transform: scale(1.1);
}
#work-sec p
{
    font-size: 25px;
}
#work-sec p:nth-of-type(2n)
{
    color: #c58403;
}
.w-button
{
    cursor: pointer;
    background-color: white;
    width: 110px;
    height: 40px;
    border-radius: 30px;
    color: black;
    border:none;
    font-family: inherit;
    font-size: 20px;
}

/*---------------------------------------------------------- Contact Section --------------------------------------------------------*/
#contact
{
    font-family: 'Montserrat', sans-serif;
    color: white;
    width: 100vw;
    height: -moz-calc(100vh - (70px));
    height: -webkit-calc(100vh - (70px));
    height: calc(100vh - (70px));
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
#contact-box
{
    /* height: 500px; */
    width: calc(100vw - (100px));
    display: flex;
    flex-direction: row;
}
.contact-sec
{
    flex: 2;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
}
#c-form
{
    position: relative;
    display: flex;
    flex-direction: column;
    width: 500px;
    font-size: 20px;
    align-items: center;
    padding: 10px;
}
#c-form input
{
    border: 3px solid #ff9400;
    width: 100%;
    padding: 5px;
    height: 50px;
    border-radius: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: white;
    color: Black;
    font-size: inherit;
}
#c-form textarea
{
    border: 3px solid #ff9400;
    width: 100%;
    padding: 5px;
    border-radius: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: white;
    color: Black;
    font-size: inherit;
    height: 130px;
}
#c-form .contact-btn
{
    margin-top: 10px;
    margin-bottom: 10px;
    width: 150px;
    height: 45px;
}
#curved
{
    position: relative;
    background-color: #ffcc00;
    width: 100%;
    height: 170px;
}
#curved-vec
{
    position: absolute;
    top: -5px;
    width: 100%;
    height: 170px;
    border: solid 0px white;
    background-color: black;
    border-color: transparent transparent transparent transparent;
    border-radius: 0% 100% 63% 37% / 77% 0% 100% 23% ;
}

/*-------------------------------------------------------------- Footer ------------------------------------------------------------*/
footer
{
    font-family: 'League Spartan', sans-serif;
    width: 100vw;
    height: 300px;
    background-color: #ffcc00;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}
footer>p
{
    font-size: 24px;
    color: white;
    margin-top: 10px;
}
#footer-icon
{
    width: 300px;
    color: white;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    font-size: 70px;
}